.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color:rgb(80, 5, 75); 
    color: #fff; 
    align-items:center;
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff; 
    margin-right: 1rem;
    
  }


.button {
    padding: 0.5rem 1rem;
    background-color: #f77f10; 
    color: #fff; 
    border-radius:4px;
    cursor: pointer;
  }

.button:hover {
    background-color: #903fbb; 
}

.input{
    padding: 0.5rem 1rem;
    border: 0;
    background-color: #e7e7e7;
    border-radius:4px;
    color:black;
}

.form {
    display: flex;
  }

  .loginLink {
    color: #fff; 
    background-color: #f77f10; 
    padding: 8px 16px; 
    border-radius: 4px; 
    text-decoration: none; 
    transition: background-color 0.3s ease; 
  }

  
  